body {
  font-family: Arial;
  background: linear-gradient(#7ec8ff, #ffffff);
}

.header {
  background: linear-gradient(to right, #ffcc00, #ff6600);
  padding: 15px;
  color: white;
  font-size: 20px;
}

.card {
  background: white;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

button {
  background: gold;
  border: none;
  padding: 6px;
  margin: 5px;
  cursor: pointer;
}
